{
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "**/lib/**/*.js",
        "**/polyfills/**/*.js",
        "**/ponyfills/**/*.js",
        "**/search-binding.js"
    ],
    "reporter": [
        "html",
        "text",
        "json-summary"
    ],
    "check-coverage": true,
    "branches": 79,
    "lines": 80,
    "functions": 80,
    "statements": 80
}