# Eclipse
.project
.classpath
.settings/
analyzed-substrate-for-native-image/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
**/.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Others
ObjectStore/
*.zip
*.log
*.jar
*.iml
**/*.iml

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Output of 'npm pack'
*.tgz

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# nyc (formerly known as istanbul) test coverage data
.nyc_output

# coverage reports
coverage/

# development build directory
#devdist/