# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Output of 'npm pack'
*.tgz

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# nyc (formerly known as istanbul) test coverage data
.nyc_output

# coverage reports
coverage/

# development build directory
#devdist/

# ignore all build results (temporarily)
devdist/
dist/
docs/**
!jsdoc.json
coverage/